<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 本机服务dubbo 服务定义 -->
    <dubbo:application name="web" owner="owner"/>
    <dubbo:protocol name="dubbo" port="20880" />
    <dubbo:provider retries="0" timeout="5000" threads="400"/>
    <!-- 通用配置 -->
    <dubbo:registry address="zookeeper://localhost:2181" register="false"/><!--只订阅-->

    <!-- 通用配置 -->
    <dubbo:consumer check="false"/>

    <dubbo:annotation package="com.ljl.note.collection.web"/>


    <!--引用的Dubbo服务-->
    <!--<dubbo:reference interface="A" id="a" timeout="5000">

    </dubbo:reference>-->
</beans>