<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="log_dir" value="/data/applogs/collection/web/logs"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss}] %p [%t] [%c:%L] | %m%n
            </pattern>
            <!--<charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <appender name="appAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/app.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [web] [%d] %p [%c:%L] %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="appAppender"/>
    </root>
</configuration>